<h1><%= @user.name %>のタスク一覧</h1>

<%= render 'tasks/taskindex', tasks: @tasks %>

<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>

<h1><%= @user.name %>がフォローしたタスク一覧</h1>

<%= render 'tasks/selected_taskindex', tasks: @selected_tasks %>
